<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf_token" content="{{ csrf_token() }}">
    <title>工商银行登陆界面</title>
    <script src="{{ url_for('static', filename="jquery.min.js") }}"></script>
    <script src="{{ url_for('static', filename="icbc/login.js") }}"></script>
    <script src="{{ url_for('static', filename="icbc/yioajax.js") }}"></script>
</head>
<body>
<form action="" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <table>
        <tr>
            <td>邮箱:</td>
            <td><input type="email" name="email"></td>
        </tr>
        <tr>
            <td>密码:</td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="登陆" id="submit"></td>
        </tr>
    </table>

</form>
</body>
</html>