<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>工商银行转账页面</title>
</head>
<body>
<form action="" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <table>
        <tr>
            <td>转账给：</td>
            <td><input type="text" name="email"></td>
        </tr>
        <tr>
            <td>金额</td>
            <td><input type="text" name="money"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="转账"></td>
        </tr>
    </table>
</form>
</body>
</html>